body {
  min-width: 570px;
  font-size: 85%;
  background-image: url("https://www.picshare.co.il/s_pictures/img39263.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(3, 3, 3, 0.895);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to bottom left,
    rgb(89, 167, 216),
    transparent
  );
  height: 30%;
  width: 30%;
  margin: 7% auto;
  padding: 1%;
  box-shadow: 2px 2px gray;
}

input {
  width: 90px;
  height: 18px;
}

p {
  margin: 1%;
}

span {
  padding-left: 8px;
  color: rgb(61, 14, 231);
  font-weight: bold;
}

.inputF,
.inputC {
  display: flex;
  justify-content: space-between;
}
